body, html {
  height: 100%;
  margin: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

html {
  scroll-behavior: smooth;
}

.jumbotron {
	background-color: #8CB7C0;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25vh;
	font-size: 10pt;
	position: relative;
}

.jumbotron-homepage {
	background-color: rgba(0,0,0,0);
	height: 10vh;
}

.jumbotron h1 { 
	font-family: 'Corinthia', cursive;
	font-size: 14vh;
}

.air-bnb-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 6vh;
    margin: 1vh;
    font-size: 4vh;
    color: white;
}

.site-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6vh;
    margin: 2vh;
}


.site-icon-nav {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 3.5vh;
    margin: 2.2vh;
}

.air-bnb-icon:hover {
	color: #B1D1DB;
}


.nav-link {
	color: white;
}

.nav-link:hover {
	color: #B1D1DB;
}

.nav-item .disabled {
	color: #B1D1DB;
}

.underline-on-hover::after {
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 1px;
    background: #B1D1DB;
    transition: width .3s;
}

.underline-on-hover:hover::after {
    width: 100%;
}



#home-bg {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url("src/images/homepage/home.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.home-title-container {
	display: flex;
	justify-content: center; /* Align horizontal */
	align-items: center; /* Align vertical */
	text-align: center;	
	height: 80vh;
}


#home-title {
	font-family: 'Corinthia', cursive;
	font-size: max(15vw, 13vh);
	color: white;
	opacity: 0.9;
	line-height: normal;
	padding: 3vh;
}




.gallery {
	width: 90%;
	margin-left: 5%;

}


@media only screen and (max-device-width: 480px) {
.gallery .col-sm-4 {
    width: 50%;
  }

}

.gallery .gallery-img-container {
	padding: 1vh;
	min-width: 0;

}

.gallery-img {
	max-width:  100%;
	cursor: pointer;
}

.gallery-img:hover {
  opacity: 0.7;
}



.padding-0 {
    padding-right:0;
    padding-left:0;
}

.photo-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    display: none;
    text-align: center;
}

.close-photo-overlay {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}

.next-photo-overlay {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 45%;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}

.prev-photo-overlay {
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 45%;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}

.enlarged {
  	max-width: 85%;
  	max-height: 85%;
  	vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.filter-btn {
	border-radius: 0px;
	border: 0px;
	border-bottom: solid 1px #EDEDED;
	right: 20px;
	white-space: nowrap;
	font-size: 13px;
	width: 100%;
	color: #284E54;
}

.filter-btn:hover {
	color: #284E54;
	border-bottom: solid 1px #8CB7C0;
}

.filter-btn.active {
	border-bottom: solid 1px #284E54;
	color: #284E54;
}


.gallery-filters > .fa-solid {
	margin-right: 5px;
}


.gallery-filters {
	width: 90%;
	margin-left: 5%;
	padding: 1vh;
	margin-top: 3vh;
}



.guide-row {
	padding: 50px;
	--bs-gutter-x: 0em;
}

.no-padding-top {
	padding-top: 0px;
}

.guide-box {
	padding: 1vh;
}

.guide-img-container {
	
}

.guide-info-container {
	

}

.guide-info-container h1 {
	font-family: 'Corinthia', cursive;
	font-size: 7vh;
	margin-bottom: 0px;
}

.guide-info-container h2 {
	font-size: 1.8vh;
}

.guide-info-container i {
	padding-right: 1vh;
}

.guide-info-container p {
	font-size: 1.7vh;
}

.green-background  {
	background-color: #E9EFEE;
}


.r-align {
	text-align: right;
}

.l-align {
	text-align: left;
}

@media (max-width: 768px) {
  	.r-align {
      text-align: center;
  	}
  	.l-align {
      text-align: center;
  	}
}


@media only screen and (max-device-width: 480px) {
	.r-align {
      	text-align: center;
	}
  	.l-align {
      text-align: center;
  	}
  	.col-md-6 {
  		width: 100%;
  	}
}


.content-section {
	scroll-behavior: smooth;
	padding-bottom: 10vh;
}


.guide-img {
	height: 25vh;
}


.guide-container .row {
}


.reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}


.guide-card {
	padding: 1vh;
	margin-top: 3vh;
}

.guide-card-contents {
	margin: 1.5vh;
	padding: 1vh;
	height: 100%;
}


.ta-icon {
	height: 3.3vh;
	margin-bottom: 1.2vh;

}

.guide-card-icon {
	padding: 0.5vh;
	color: #284E54;
}

.guide-card-icon:hover {
	color: #8CB7C0;
}

.guide-card-icon .fa-laptop {
	font-size: 3vh;
}

.guide-card-icon .fa-facebook-square {
	font-size: 3vh;
}

.guide-card-contents h1 {
	font-family: 'Corinthia', cursive;
	font-size: 5vh;
	margin: 0px;
}

.guide-card-contents h2 {
	font-size: 1.5vh;
	margin-bottom: 2vh;
}

.guide-card-contents h3 {
	font-size: 1.8vh;
}

.guide-card-contents .fa-location-dot {
	margin-right: 5px;
}

.guide-card-info {
	display: inline;
}


.guide-card-img {
	display: inline;
	width: 15vh;
	height: 15vh;
	margin: 2vh;
	border-radius: 100px;
	object-fit: cover;
}


@media only screen and (max-device-width: 480px) {
.guide-cards-container .col-sm-6 {
    width: 100%;
  }

}

.guide-cards-container {
	margin-left: 5vw;
	margin-right: 5vw;
	overflow: hidden;
}


.guide-cards-container table {
	height: 100%;
}






 .guide-menu {
 	width: 100px;
 	position:  fixed;
 	bottom:  0;
 	left: 0;
 	text-align: center;
 	font-size: 2vh;
 	padding-top: 200px;
 	padding-bottom: 200px;
 	border-right: #8cb7c0 1px dashed;

 }

.menu-item {
 	height: 12.5%;
 	width: 100%;
 	transition: 0.3s;
 	display: inline-block;
 	line-height: 50px;
 	cursor: pointer;
 	color: #8CB7C0;
 }

.menu-item:hover {
 	font-size: 3.5vh;
 	color: #284E54;
 }

 .in-view {
 	 	font-size: 3.5vh;
 	color: #284E54;
 }

.menu-item fa {
	vertical-align: middle;
}

.tooltip-inner {
    background-color: #284E54;
}




 .guide-content {
 	margin-left: 100px;
 	overflow: scroll;
 	height: calc(100vh - 200px);
 }


 .guide-header {
 	font-family: 'Corinthia', cursive;
 	font-size:  10vh;
 	color: #284E54;
 	text-align: center;
 	border-top: #8CB7C0 1px dashed;
 }

  .guide-header.top {
  	border-top: none;
  }




