body, html {
  height: 100%;
  margin: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}


#home-bg {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url("Images/Homepage/home.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center; /* Align horizontal */
	align-items: center; /* Align vertical */
	text-align: center;	
}

#home-title {
	font-family: 'Corinthia', cursive;
	font-size: max(15vw, 13vh);
	color: white;
	opacity: 0.9;
	line-height: normal;
	padding: 3vh;
}

.site-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6vh;
    margin: 2vh;
}

.jumbotron {
	background-color: #8CB7C0;
	color:  white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron h1 { 
	font-weight: 400;
	font-family: 'Alegreya Sans', sans-serif;
}

.site-icon-nav {
	margin-top: 35px;
	margin-left: 20px;
	position: absolute;
    top: 0px;
    left: 0px;
    width: 6vh;
}


.gallery {
	width: 100%;


}



.gallery .gallery-img {
	padding: 1vh;
	min-width: 0;

}


.img-fluid {
	max-width:  100%;
}


.padding-0 {
    padding-right:0;
    padding-left:0;
}














